#a97a71d1-00ac-5848-bb00-31f609d8539a {
  section {
    padding: 168px 0px;
  }
  .section-content {
    max-width: 605px;
  }
  p {
    font-weight: 500;
    font-size: 27px;
    line-height: 36px;
  }
}

#0cb8616d-6939-52e9-a015-666db481d338 {
  .block-img {
    text-align: center;
  }
}
